header.header-fixed
  .header-limiter
    h1
      a(href='#')
        | Coding
        span Note
    nav
      a.selected(href='#') Home
      a(href='#') Archives
      a(href='/categories/刷题记录/Codility/') Codility
      a(href='#') About
      a(href='#') Contact
// You need this element to prevent the content of the page from jumping up
.header-fixed-placeholder
// The content of your page would go here.
