header.header-fixed
  .header-limiter
    div.header-logo
    nav(id='header-navbar')
      a(href='/') Home
      a(href='/archive/') Archive
      a(href='/categories/Notes/Codility/') Codility
      a(href='/about/') About
      a(href='/contact/') Contact
// You need this element to prevent the content of the page from jumping up
.header-fixed-placeholder
// The content of your page would go here.
